.hero-section {
    border-top: 3px solid #323E66;
}

.hero-image {
    background-image: url("images/hero_bg2.webp");
    background-position: right;
    background-repeat: no-repeat;
    height: 722px;
}

.hero-image.beneden {
    height: 500px;
    background-position: top right;
}

.hero-container {
    max-width: 720px;
    /*background-color: aliceblue;*/
}

.hero-text {
    width: 370px;
}

.hero-title {
    margin-top: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    text-align: right;
    text-transform: uppercase;
    /*background-color: lightgreen;*/
}

.hero-subtitle {
    margin-top: 20px;
    font-style: normal;
    font-weight: 200;
    font-size: 19px;
    line-height: 31px;
    /* or 31px */
    text-align: right;
    /* Ultra Light Grey */
    color: #DAE3EA;
}

.the-next-level {
    color: #F26430;
    font-weight: 300;
}

.hero-button {
    /*position: absolute;*/
    margin-top: 60px;
    width: 231px;
    height: 49px;
    border-radius: 34px;
    padding-top: 6px;
  }

.hero-button-subtext {
    text-align: center;
    margin-top: 0;
    font-weight: 100;
    width: 231px;
    /*background-color: darkcyan;*/
}

.hero-button-subtext.arrow {
    margin-top: 15px;
}

